<%- include('./partials/header') %>

  <div id="welcome-text">
    <h1>Welcome to <%= title %>
    </h1>
    <p>InFlightable lets you add flights, origins, destinations, and tickets to your heart's content, displaying them in
      organized tables sorted by date. Start by adding flights, or see what's already on the departure board!</p>

    <a href="/flights/add"><button class="get-started-btn">Add Flight</button></a>
    <a href="/flights/"><button class="get-started-btn">All Flights</button></a>
  </div>

  <%- include('./partials/footer') %>